body {
    background: linear-gradient(to bottom,
            #110A36 15%,
            #120B3A 25%,
            #150C42 45%,
            #190E4E 60%,
            #1F1263 85%,
            #311D9C 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 101vh;
    flex-direction: column;
}

form {
    color: rgb(240, 248, 255);
    position: relative;
    width: 295.44px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

i {
    font-size: 24px;
    color: rgb(240, 248, 255) !important;
    cursor: pointer;
}

p {
    color: rgb(240, 248, 255);
    text-align: center;
}

a {
    color: rgb(254, 255, 186);
    text-align: center;
    text-decoration: none;
}

.vlt {
    position: absolute;
    top: 25px;
    left: 35px;
    font-size: 24px;
    color: rgb(240, 248, 255);
    cursor: pointer;
}


input {
    margin-top: 30px !important;
    height: 50px !important;
    border: 1px solid #8B6CF6 !important;
    background: none !important;
    border-radius: 10px !important;
    color: #fff !important;
}


input::placeholder {
    color: #ffffffc1 !important;
    font-size: 20px !important;
}


.form-text a {
    color: #fff !important;
    text-decoration: none !important;
    font-size: 16px !important;

}

.form-text {
    margin: 10px 0 10px 150px !important;
}

.btn {
    font-size: 20px !important;
    background: #5D33D3 !important;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
}

p a {
    color: #01D4A9;
    text-decoration: none;
    font-weight: bold;
}