
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
            #110A36 15%,
            #120B3A 25%,
            #150C42 45%,
            #190E4E 60%,
            #1F1263 85%,
            #311D9C 100%);
}

.vlt {
    position: absolute;
    top: 25px;
    left: 35px;
    font-size: 24px;
    color: rgb(240, 248, 255);
    cursor: pointer;
}

i {
    font-size: 24px;
    color: rgb(240, 248, 255) !important;
    cursor: pointer;
}


.container {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    margin-top: 30px !important;
    height: 50px !important;
    border: 1px solid #8B6CF6 !important;
    background: none !important;
    border-radius: 10px !important;
}


input::placeholder{
    color: #ffffffc1  !important;
    font-size: 20px !important;
}

.form-text a{
    color: #fff !important;
    text-decoration: none !important;
    font-size: 16px !important;

}

.form-text {
    margin: 10px 0 10px 160px  !important;    
}

form{
    width: 300px !important;
    height: 50px !important;
}

button {
    font-size: 20px !important;
    background: #5D33D3 !important;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 16px;
    border: none !important;
}

p a {
    color: #01D4A9;
    text-decoration: none ;
    font-weight: bold;
}

.res{
    display: flex;
    justify-content: center;
}